body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #222;
	color: #fff;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 2rem
}

input {
	width: 70%;
	padding: 1rem;
	margin-bottom: 2rem;
	border: 0;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	font-size: 1rem;
	box-sizing: border-box;
}

input::placeholder {
	color: #ccc;
	font-size: 1rem;
	font-weight: 500;
}

input:focus {
	outline: none
}

button {
	padding: 1rem;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color .3s ease;
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 2rem
}

button:hover {
	background-color: #0056b3
}

button:active {
	background-color: #004085
}

#results {
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	gap: 2rem;
	row-gap: 2rem;
	min-height: 300px;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 5px;
	flex: 1 1 auto;
	align-self: auto;
}

.game:hover {
	background-color: #333;
}

.game img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.game:hover {
	cursor: pointer;
}

.game:hover>img {
	transform: scale(1.05);
	transition: transform 0.3s ease;
}

.game h2 {
	font-size: 1.2rem;
	margin-top: 1rem;
	width: 200px
}

.game ul {
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 0.9rem
}

.game ul li {
	padding-bottom: 0.5rem;
}

.game ul li:last-child {
	padding-bottom: 0;
}

.game a {
	text-decoration: none;
	color: #007bff;
	font-weight: bold;
}

.game a:hover {
	text-decoration: underline;
}

footer {
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

footer a {
	color: #007bff;
	text-decoration: none;
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}