body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

input {
  width: 70%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 1.2rem;
}

button:hover {
  background-color: #444;
}

#result {
  font-size: 2rem;
  margin-top: 2rem;
}